html {
  height: 100%;
}

body {
  max-width: 1040px;
  margin: auto;
  background-image: url("../img/background-food-opacity.jpg");
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lobster", cursive;
  font-size: 2.5em;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 70px;
  margin-top: 50px;
  height: 75px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  height: 50px;
}

h4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  margin-bottom: 50px;
}

a:hover {
  text-decoration: underline;
}

#block-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lobster", cursive;
  font-size: 1.5em;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}

#block-2 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  margin-left: 50px;
  margin-right: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 80%;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  background-color: white;
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-container {
  padding: 2px 16px 20px;
}

.blog-img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid gray;
}

.main-content {
  min-height: calc(100vh - 70px);
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 50px;
  font-family: "Lobster", cursive;
}

@media (max-width: 481px) {
  #block-2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

@media (max-width: 320px) {
  #block-2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

@media (max-width: 360px) {
  #block-2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}
