html {
  height: 100%;
}

body {
  max-width: 1040px;
  margin: auto;
  background-image: url("../../img/background-food-opacity.jpg");
  grid-template-rows: 1fr auto;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  margin-bottom: 70px;
  height: 75px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  height: 50px;
}

article {
  margin-left: 50px;
  margin-right: 50px;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  margin-bottom: 50px;
}

a:hover {
  color: darkcyan;
}

button {
  margin-left: 10px;
  height: 50%;
}

#blog-header {
  font-family: "Lobster", cursive;
  font-size: 3.7em;
}

#block-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Lobster", cursive;
  font-size: 1.5em;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  color: darkred;
}

.blog-img {
  max-width: 100%;
  max-height: 50%;
  border-radius: 5px;
}

.author {
  margin-top: 5px;
  font-family: "Lobster", cursive;
}

.author a {
  font-family: "Lobster", cursive;
}

.author-info {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 100%;
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.author-info-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.author-info-1 p {
  margin-top: 3px;
  margin-bottom: 1px;
  font-size: 0.8em;
}

.author-info-2 {
  display: flex;
  align-items: center;
  font-size: 0.9em;
}

.author-img {
  height: 40%;
  width: 40%;
}

.img-caption {
  margin-top: 10px;
}

.main-content {
  min-height: calc(100vh - 70px);
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  height: 50px;
  font-family: "Lobster", cursive;
  color: darkblue;
}

.footer-text {
  font-family: "Lobster", cursive;
  color: darkblue;
}

@media (max-width: 481px) {
  .author-info {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}
